<template>
  <div class="is-flex">
    <div
      class="is-align-content-center is-flex is-flex-direction-row"
      style="width: 100%"
    >
      <div class="vote-aside is-flex is-flex-direction-column">
        <vote-arrow
          :answer="answer"
          :question="question"
          :orientation="1"
        ></vote-arrow>
        <p class="has-text-centered is-size-5">{{ answer.score }}</p>
        <vote-arrow
          :answer="answer"
          :question="question"
          :orientation="-1"
        ></vote-arrow>
        <check :answer="answer"></check>
      </div>
      <div class="is-flex is-flex-direction-column" style="width: 100%">
        <p class="mb-5" v-html="answer.body"></p>
        <div
          class="is-align-self-flex-end"
          style="background-color: #a0c3ff; padding: 7px; border-radius: 3px"
          id="profilething"
        >
          <p>answered {{ dateString }}</p>
          <img width="36px" :src="answerAvatarUrl" alt="" />
          <a @click="gotoUser" class="">{{ answer.user.name }}</a>
        </div>
        <comment-component
          v-for="(c, idx) in answer.comments"
          :key="c.id"
          :comment="c"
          :idx="idx"
        ></comment-component>
        <a v-if="!showCommentBox" @click="commenting">Add a comment</a>
        <div
          v-else
          class="is-flex is-flex-direction-column mt-4"
          style="width: 100%"
        >
          <b-input
            v-model="body"
            type="textarea"
            maxlength="600"
            placeholder=""
            :has-counter="false"
            @keyup.native.ctrl.enter="postComment"
          ></b-input>
          <p>{{ buttonHelpText }}</p>

          <div class="is-align-self-flex-end">
            <button
              :disabled="body.length < 15"
              class="button is-info"
              type="button"
              @click="postComment"
            >
              Add comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ResolvedCheckmark from "./ResolvedCheckmark";
import Comment from "./Comment";
import VoteArrow from "./VoteArrow.vue";
export default {
  name: "Answer",
  props: ["answer", "question"],

  components: {
    "comment-component": Comment,
    check: ResolvedCheckmark,
    "vote-arrow": VoteArrow,
  },
  data() {
    return {
      body: "",
      showCommentBox: false,
    };
  },
  methods: {
    commenting() {
      this.showCommentBox = true;
    },
    gotoUser() {
      this.$router.push(`/users/${this.answer.user.id}`);
    },
    async postComment() {
      const question_id = this.$route.params.question_id;
      const answer_id = this.answer.id;
      const headers = {
        Authorization: this.$store.state.user.id,
        "Content-Type": "application/json",
      };
      const resp = await fetch(
        `/api/v1/questions/${question_id}/answers/${answer_id}/comments`,
        {
          method: "POST",
          headers: headers,
          body: JSON.stringify({ body: this.body }),
        }
      );
      const comment = await resp.json();

      this.$store.commit("handleAnswerComment", {
        comment,
        answer_id,
        question_id,
      });
      this.showCommentBox = false;
      this.body = "";
      return;
    },
    async vote(direction) {
      const question_id = this.$route.params.question_id;
      const headers = {
        Authorization: this.$store.state.user.id,
        "Content-Type": "application/json",
      };
      if (direction === 0) {
        await fetch(
          `/api/v1/questions/${question_id}/answers/${this.answer.id}/votes/@me`,
          {
            method: "DELETE",
            headers: headers,
          }
        );
        return;
      }
      await fetch(
        `/api/v1/questions/${question_id}/answers/${this.answer.id}/votes`,
        {
          method: "POST",
          headers: headers,
          body: JSON.stringify({ direction: direction }),
        }
      );
    },
    async upvote() {
      if (this.answer.vote === 1) {
        return await this.unvote();
      }
      await this.vote(1);
    },
    async unvote() {
      await this.vote(0);
    },
    async downvote() {
      if (this.answer.vote === -1) {
        return await this.unvote();
      }
      await this.vote(-1);
    },
    async markResolved(accepted) {
      const question_id = this.$route.params.question_id;
      const question = this.$store.state.questions[question_id];
      if (question.user.id !== this.$store.state.user.id) {
        return;
      }

      this.$store.commit("handleAccepted", {
        question_id: question_id,
        answer_id: this.answer.id,
        accepted: accepted,
      });
      const headers = {
        Authorization: this.$store.state.user.id,
        "Content-Type": "application/json",
      };
      await fetch(
        `/api/v1/questions/${question_id}/answers/${this.answer.id}`,
        {
          method: "PATCH",
          headers: headers,
          body: JSON.stringify({ accepted: accepted }),
        }
      );
    },
    async resolve() {
      await this.markResolved(!this.answer.accepted);
    },
  },
  computed: {
    answerAvatarUrl() {
      const idx = (this.answer.user.id || 0) % 5;
      return `/avatar-${idx}.png`;
    },
    dateString() {
      const date = new Date(this.answer.creation * 1000);
      return `${date.toLocaleString("en-US")}`;
    },
    canMarkAsResolved() {
      const question_id = this.$route.params.question_id;
      const author_id = this.$store.state.user.id;
      const question = this.$store.state.questions[question_id];
      const found = question.answers.find((a) => a.accepted === true);
      return question.user.id === author_id && !found;
    },
    buttonHelpText() {
      const len = this.body.length;
      if (len < 10) {
        return "Enter at least 15 characters";
      } else if (len < 15) {
        return `${15 - len} more to go...`;
      }
      return `${600 - len} characters left`;
    },
  },
};
</script>

<style scoped>
.svg-icon {
  vertical-align: bottom;
  cursor: pointer;
}

.vote-aside {
  min-height: 50px;
  padding-right: 16px;
}

.vote-orange {
  fill: #f48225;
}

.vote-gray {
  fill: #696f75;
}

.accepted-green {
  fill: #62b47d;
}
</style>
<style>
blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert !important;
  font-weight: revert !important;
}
</style>
