<template>
  <div style="width: 60%">
    <hr v-if="idx === 0" />
    <div class="is-flex">
      {{ comment.body }}
      <a class="has-text-right" @click="gotoUser">
        &nbsp;&mdash;&nbsp;{{ comment.user.name }}</a
      >
    </div>
    <hr />
  </div>
</template>

<script>
export default {
  name: "Comment",
  props: ["comment", "idx"],
  methods: {
    gotoUser() {
      this.$router.push(`/users/${this.comment.user.id}`);
    },
  },
  computed: {},
};
</script>

<style scoped>
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
</style>
