<template>
  <div class="app">
    <nav-bar></nav-bar>
    <div class="app-body">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import VueNotifications from "vue-notifications";
import NavBar from "@/components/NavBar.vue";
export default {
  name: "Container",
  components: {
    NavBar,
  },
  notifications: {
    showAnswerMessage: {
      type: VueNotifications.types.info,
      title: "Your question has a new answer",
      message: "You should not see this!",
    },
  },
  methods: {
    connect() {
      this.ws = new WebSocket("wss://stackoverfaux.cgroth.se/api/v1/ws");
      this.ws.onmessage = (ev) => {
        let obj = JSON.parse(ev.data);
        switch (obj.op) {
          case 0:
            this.handleDispatch(obj);
            break;
        }
      };
      this.ws.onclose = (ev) => {
        setTimeout(() => {
          this.connect();
        }, 5);
      };
      this.ws.onerror = (err) => {
        console.err("Socket error: " + err);
        this.ws.close();
      };
    },
    handleAnswerCreate(data) {
      const question = this.$store.state.questions[data.question_id];
      const you = this.$store.state.user;
      if (question.user.id === you.id && data.user.id !== you.id) {
        // We received an answer to our question that was not from ourselves
        this.showAnswerMessage({
          message: `${data.user.name} just responded to your question`,
        });
      }
    },
    handleDispatch(ev) {
      switch (ev.t) {
        case "QUESTION_CREATE":
        case "QUESTION_UPDATE":
          this.$store.commit("handleQuestion", ev.d);
          break;
        case "QUESTION_DELETE":
          this.$store.commit("handleQuestionDelete", ev.d);
          break;
        case "ANSWER_CREATE":
          this.handleAnswerCreate(ev.d);
        // falls through
        case "ANSWER_UPDATE":
          this.$store.commit("handleAnswer", ev.d);
          break;
        case "ANSWER_DELETE":
          this.$store.commit("handleAnswerDelete", ev.d);
          break;
        case "ANSWER_COMMENT_CREATE":
        case "ANSWER_COMMENT_UPDATE":
          this.$store.commit("handleAnswerComment", ev.d);
          break;
        case "ANSWER_COMMENT_DELETE":
          this.$store.commit("handleAnswerCommentDelete", ev.d);
          break;
        case "QUESTION_COMMENT_CREATE":
        case "QUESTION_COMMENT_UPDATE":
          this.$store.commit("handleQuestionComment", ev.d);
          break;
        case "QUESTION_COMMENT_DELETE":
          this.$store.commit("handleQuestionCommentDelete", ev.d);
          break;
        case "QUESTION_VOTE_UPDATE":
          this.$store.commit("handleQuestionVote", ev.d);
          break;
        case "ANSWER_VOTE_UPDATE":
          this.$store.commit("handleAnswerVote", ev.d);
          break;
      }
    },
  },
  data() {
    return { ws: null };
  },
  async created() {
    this.connect();
  },
};
</script>