<template>
  <div class="columns is-centered">
    <div class="column is-6">
      <header>
        <p class="title">Ask a public question</p>
      </header>
      <section>
        <p class="is-size-5">Title</p>
        <b-field
          label="e.g. Is there a python function for finding the index of an element?"
        >
          <b-input
            v-model="formProps.title"
            placeholder="Be specific and imagine you're asking a human bean"
          ></b-input>
        </b-field>
        <p class="is-size-5">Body</p>
        <b-field
          label="Include all the information someone would need to answer your question"
        >
          <b-input
            v-model="formProps.body"
            type="textarea"
            placeholder=""
            @keyup.native.ctrl.enter="askQuestion"
          ></b-input>
        </b-field>
      </section>
      <footer class="mt-5">
        <button
          :disabled="ready"
          class="button is-info"
          type="button"
          @click="askQuestion"
        >
          Ask your question
        </button>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: "CreateQuestion",
  props: ["title", "body"],
  methods: {
    async askQuestion() {
      const response = await fetch("/api/v1/questions", {
        headers: {
          "Content-Type": "application/json",
          authorization: this.$store.state.user.id,
        },
        method: "POST",
        body: JSON.stringify(this.formProps),
      });
      const question = await response.json();
      this.$store.commit("handleQuestion", question);
      this.$router.push(`/questions/${question.id}`);
    },
  },
  data() {
    return {
      formProps: {
        title: this.title,
        body: this.body,
      },
    };
  },

  computed: {
    ready() {
      return !!this.title && !!this.body;
    },
  },
};
</script>

