<template>
  <div>
    <div>
      <div class="has-text-centered">
        <img alt="Vue logo" src="../assets/logo.png" width="200" />
      </div>
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="is-flex is-justify-content-space-between">
            <p class="is-size-3">Most Recent Questions</p>
            <b-button
              v-if="loggedIn"
              class="is-info is-align-self-center"
              @click="askQuestion"
              >Ask Question</b-button
            ><b-button
              title="Log in if you wish to ask a question"
              v-else
              class="is-info is-align-self-center"
              disabled
              >Ask Question</b-button
            >
          </div>
          <div v-for="question in questions" :key="question.id">
            <question :question="question"></question>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Question from "./Question.vue";
export default {
  name: "Frontpage",
  components: { question: Question },
  methods: {
    async fetchQuestions() {
      const response = await fetch("/api/v1/questions", {
        headers: {
          authorization: this.$store.state.user.id,
        },
      });
      const js = await response.json();
      this.$store.commit("handleQuestions", js);
    },

    askQuestion() {
      this.$router.push("/ask");
    },
  },
  data() {
    return {};
  },
  computed: {
    loggedIn() {
      return Object.keys(this.$store.state.user).length != 0;
    },
    isAdmin() {
      return this.logged_in && this.$store.state.user.isadmin;
    },
    colWidth() {
      return this.is_admin ? 320 : 100;
    },
    questions() {
      let questions = [];
      for (let q in this.$store.state.questions) {
        questions.push(this.$store.state.questions[q]);
      }
      questions.sort((a, b) => b.id - a.id);
      return questions;
    },
  },
  async created() {
    await this.fetchQuestions();
  },
};
</script>
