<template>
  <div>
    <div class="columns is-centered">
      <div class="column is-4">
        <div v-if="!date">
          <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
              <p class="modal-card-title">Log In</p>
            </header>
            <section class="modal-card-body">
              <b-field label="Username">
                <b-input
                  v-model="loginDetails.name"
                  placeholder="Carl"
                  v-on:keydown.native.enter="login"
                  required
                ></b-input>
              </b-field>

              <b-field label="Password (this obviously does nothing)">
                <b-input
                  type="password"
                  password-reveal
                  placeholder="•••••••••••••••••••••••"
                ></b-input>
              </b-field>
              <div class="is-flex is-justify-content-space-between">
                <a @click="register">Sign up</a>
                <a @click="forgotPassword">Forgot Password?</a>
              </div>
              <p class="is-pulled-right" v-if="forgot">Yeah me too, sorry!</p>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-primary" @click="login">Log In</button>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  methods: {
    async login() {
      const resp = await fetch("/api/v1/login", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify(this.loginDetails),
      });

      const js = await resp.json();
      if (!resp.ok) {
        this.flashError(js.error);
        return;
      }
      this.$store.commit("login", js);
      this.$router.push("/");
    },
    forgotPassword() {
      this.forgot = true;
    },
    register() {
      this.$router.push("/register");
    },
  },
  data() {
    return {
      forgot: false,
      loginDetails: {
        name: "",
      },
    };
  },
};
</script>

