<template>
  <b-navbar class="is-light">
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img src="../assets/logo.png" />
      </b-navbar-item>
    </template>

    <template slot="end">
      <b-navbar-item
        @click="gotoUser"
        tag="div"
        style="cursor: pointer"
        v-if="loggedIn"
      >
        Logged in as
        <strong style="margin: 0px 5px">{{ displayName }}</strong>
        <img :src="avatarUrl" alt="" />
      </b-navbar-item>
      <b-navbar-item tag="div">
        <div class="buttons">
          <a @click="register" class="button is-primary" v-if="!loggedIn">
            <strong>Sign Up</strong>
          </a>
          <a @click="login" class="button is-info" v-if="!loggedIn">
            <strong>Log In</strong>
          </a>

          <a @click="logout" class="button is-danger" v-else>
            <strong>Sign Out</strong>
          </a>
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  name: "NavBar",
  props: [],
  methods: {
    login() {
      this.$router.push("/login");
    },
    register() {
      this.$router.push("/register");
    },
    logout() {
      this.$store.commit("logout");
      this.$router.push("/");
    },
    gotoUser() {
      this.$router.push(`/users/${this.$store.state.user.id}`);
    },
  },
  data() {
    return {};
  },
  computed: {
    loggedIn() {
      return Object.keys(this.$store.state.user).length !== 0;
    },
    avatarUrl() {
      const idx = (this.$store.state.user.id || 0) % 5;
      return `/avatar-${idx}.png`;
    },
    displayName() {
      return this.$store.state.user.name;
    },
  },
};
</script>

