<template>
  <div>
    <div>
      <div class="columns is-centered">
        <div class="column is-6">
          <p class="is-size-3">{{ question.title }}</p>
          <div class="is-flex">
            <div class="vote-aside is-flex is-flex-direction-column">
              <vote-arrow
                :answer="null"
                :question="question"
                :orientation="1"
              ></vote-arrow>
              <p class="has-text-centered is-size-5">{{ question.score }}</p>
              <vote-arrow
                :answer="null"
                :question="question"
                :orientation="-1"
              ></vote-arrow>
            </div>
            <div class="is-flex is-flex-direction-column" style="width: 100%">
              <p v-html="question.body"></p>
              <div
                class="is-align-self-flex-end"
                style="
                  background-color: #a0c3ff;
                  padding: 7px;
                  border-radius: 3px;
                "
                id="profilething"
              >
                <p>asked {{ dateString }}</p>
                <img width="36px" :src="avatarUrl" alt="" />
                <a @click="gotoUser" class="">{{ question.user.name }}</a>
              </div>
              <div>
                <comment-component
                  v-for="(c, idx) in question.comments"
                  :key="c.id"
                  :comment="c"
                  :idx="idx"
                >
                  <div class="is-divider"></div>
                </comment-component>
                <a v-if="!showCommentBox" @click="commenting">Add a comment</a>

                <div
                  v-else
                  class="is-flex is-flex-direction-column mt-4"
                  style="width: 100%"
                >
                  <b-input
                    v-model="body"
                    type="textarea"
                    maxlength="600"
                    placeholder=""
                    :has-counter="false"
                    @keyup.native.ctrl.enter="postComment"
                  ></b-input>
                  <p>{{ buttonHelpText }}</p>

                  <div class="is-align-self-flex-end">
                    <button
                      :disabled="body.length < 15"
                      class="button is-info"
                      type="button"
                      @click="postComment"
                    >
                      Add comment
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <answer-component
            v-for="a in question.answers"
            :key="a.id"
            :answer="a"
            :question="question"
            class="mt-5 mb-5"
          >
          </answer-component>
          <div v-if="canAnswer">
            <p class="is-size-4">Your answer</p>
            <b-input
              v-model="answer"
              type="textarea"
              maxlength="600"
              placeholder=""
              :has-counter="false"
              @keyup.native.ctrl.enter="postAnswer"
            ></b-input>
            <button
              :disabled="answer.length < 15"
              class="button is-info mt-2"
              type="button"
              @click="postAnswer"
            >
              Post Your Answer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Answer from "./Answer";
import Comment from "./Comment";
import VoteArrow from "./VoteArrow.vue";
export default {
  name: "QuestionAnswerPage",
  components: {
    "answer-component": Answer,
    "comment-component": Comment,
    "vote-arrow": VoteArrow,
  },
  methods: {
    async fetchQuestion(question_id) {
      const response = await fetch(`/api/v1/questions/${question_id}`);
      const js = await response.json();

      this.question = js;
    },
    gotoUser() {
      this.$router.push(`/users/${this.question.user.id}`);
    },
    commenting() {
      this.showCommentBox = true;
    },
    async postComment() {
      const question_id = this.$route.params.question_id;
      const headers = {
        Authorization: this.$store.state.user.id,
        "Content-Type": "application/json",
      };
      const resp = await fetch(`/api/v1/questions/${question_id}/comments`, {
        method: "POST",
        headers: headers,
        body: JSON.stringify({ body: this.body }),
      });
      const comment = await resp.json();

      this.$store.commit("handleQuestionComment", { comment, question_id });
      this.showCommentBox = false;
      this.body = "";
      return;
    },
    async postAnswer() {
      const question_id = this.$route.params.question_id;
      const headers = {
        Authorization: this.$store.state.user.id,
        "Content-Type": "application/json",
      };
      const res = await fetch(`/api/v1/questions/${question_id}/answers`, {
        method: "POST",
        headers: headers,
        body: JSON.stringify({ body: this.answer }),
      });
      const answer = await res.json();
      this.$store.commit("handleAnswer", answer);
      return;
    },
  },
  data() {
    return {
      question: {},
      showCommentBox: false,
      body: "",
      answer: "",
    };
  },
  computed: {
    canAnswer() {
      const question_id = this.$route.params.question_id;
      const author_id = this.$store.state.user.id;
      const question = this.$store.state.questions[question_id];
      return !question.answers.find((a) => a.user.id === author_id);
    },

    buttonHelpText() {
      const len = this.body.length;
      if (len < 10) {
        return "Enter at least 15 characters";
      } else if (len < 15) {
        return `${15 - len} more to go...`;
      }
      return `${600 - len} characters left`;
    },
    dateString() {
      const date = new Date(this.question.creation * 1000);
      return `${date.toLocaleString("en-US")}`;
    },
    avatarUrl() {
      const idx = (this.question.user.id || 0) % 5;
      return `/avatar-${idx}.png`;
    },
  },
  async created() {
    const question_id = this.$route.params.question_id;
    const maybeCached = this.$store.state.questions[question_id];
    if (maybeCached) {
      this.question = maybeCached;
      return;
    }
    await this.fetchQuestion(question_id);
  },
};
</script>

<style>
.svg-icon {
  vertical-align: bottom;
  cursor: pointer;
}

.vote-aside {
  min-height: 50px;
  padding-right: 16px;
}

.vote-orange {
  fill: #f48225;
}

.vote-gray {
  fill: #696f75;
}

.accepted-green {
  fill: #62b47d;
}
</style>
