<template>
  <div>
    <div>
      <div class="is-flex">
        <div class="is-align-content-center is-flex is-flex-direction-row">
          <div class="mr-2 p-1">
            <div class="is-size-5 has-text-centered">
              {{ question.score }}
            </div>
            <div class="has-text-centered">votes</div>
          </div>
          <div
            :class="{ 'mr-5': true, 'p-1': true, 'accepted-answer': accepted }"
          >
            <p class="is-size-5 has-text-centered">
              {{ question.answers.length }}
            </p>
            <p class="has-text-centered">answers</p>
          </div>
        </div>
        <div class="is-flex-grow-5 p-1">
          <a @click="viewQuestion" class="is-size-4">{{ question.title }}</a>
          <p class="has-text-right">
            {{ askedString }} <a @click="gotoUser">{{ askedAuthor.name }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Question",
  props: ["question"],
  methods: {
    viewQuestion() {
      this.$router.push(`/questions/${this.question.id}`);
    },
    timestamp() {
      const asked = this.question.creation * 1000;
      const now = Date.now();
      const delta = Number.parseInt((now - asked) / 1000);
      let hours = Number.parseInt(delta / 3600);
      let remainder = delta % 3600;
      const minutes = Number.parseInt(remainder / 60);
      const seconds = remainder % 60;
      let days = Number.parseInt(hours / 24);
      hours %= 24;
      const years = Number.parseInt(days / 365);
      days %= 365;
      if (years) {
        if (days) {
          return `${this.pluralize(years, "year")} and ${this.pluralize(
            days,
            "day"
          )} ago by`;
        }
        return `${this.pluralize(years, "year")} ago by`;
      }
      if (days) {
        if (hours) {
          return `${this.pluralize(days, "day")} and ${this.pluralize(
            hours,
            "hour"
          )} ago by`;
        }
        return `${this.pluralize(days, "day")} ago by`;
      }
      if (hours) {
        if (minutes) {
          return `${this.pluralize(hours, "hour")} and ${this.pluralize(
            minutes,
            "minute"
          )} ago by`;
        }
        return `${this.pluralize(hours, "hour")} ago by`;
      }
      if (minutes) {
        if (seconds) {
          return `${this.pluralize(minutes, "minute")} and ${this.pluralize(
            seconds,
            "second"
          )} ago by`;
        }
        return `${this.pluralize(minutes, "minute")} ago by`;
      }
      if (!seconds) {
        return `just now by`;
      }
      return `${this.pluralize(seconds, "second")} ago by`;
    },
    pluralize(count, noun) {
      return `${count} ${noun}${count !== 1 ? "s" : ""}`;
    },
    gotoUser() {
      this.$router.push(`/users/${this.askedAuthor.id}`);
    },
  },
  computed: {
    ready() {
      return this.question.id;
    },
    accepted() {
      for (let answer of this.question.answers) {
        if (answer.accepted) {
          return true;
        }
      }
      return false;
    },
    askedAuthor() {
      let author = this.question.user;
      let latest = this.question.creation;

      for (let answer of this.question.answers) {
        if (answer.creation > latest) {
          latest = answer.creation;
          author = answer.user;
        }
      }
      return author;
    },
    askedString() {
      const timestamp = this.timestamp();
      let latest = this.question.creation;
      for (let answer of this.question.answers) {
        if (answer.creation > latest) {
          latest = answer.creation;
        }
      }
      if (latest == this.question.creation) {
        return `Asked ${timestamp}`;
      } else {
        return `Answered ${timestamp}`;
      }
    },
  },
};
</script>

<style scoped>
.accepted-answer {
  color: #218100;
  box-shadow: 0px 0px 2px 2px #218100;
}
</style>
