<template>
  <div>
    <div class="columns is-centered">
      <div class="column is-4">
        <div v-if="!date">
          <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
              <p class="modal-card-title">Sign Up</p>
            </header>
            <section class="modal-card-body">
              <b-field label="Username">
                <b-input
                  v-model="registerDetails.name"
                  placeholder="Carl"
                  v-on:keydown.native.enter="register"
                  required
                ></b-input>
              </b-field>

              <b-field label="Password (this obviously does nothing)">
                <b-input
                  type="password"
                  password-reveal
                  placeholder="•••••••••••••••••••••••"
                ></b-input>
              </b-field>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-primary" @click="register">
                Sign Up
              </button>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "register",
  methods: {
    async register() {
      const resp = await fetch("/api/v1/users", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify(this.registerDetails),
      });

      const js = await resp.json();
      if (!resp.ok) {
        this.flashError(js.error);
        return;
      }
      this.$store.commit("login", js);
      this.$router.push("/");
    },
    forgotPassword() {
      this.forgot = true;
    },
  },
  data() {
    return {
      forgot: false,
      registerDetails: {
        name: "",
      },
    };
  },
};
</script>

