<template>
  <svg
    :class="{
      'svg-icon': true,
      'accepted-green': answer.accepted,
      'vote-gray': !answer.accepted,
    }"
    @click="resolve"
    width="36"
    height="36"
    viewBox="0 0 36 36"
    v-if="canMarkAsResolved || answer.accepted"
  >
    <path d="m6 14 8 8L30 6v8L14 30l-8-8v-8Z"></path>
  </svg>
</template>

<script>
export default {
  name: "Answer",
  props: ["answer"],
  methods: {
    async markResolved(accepted) {
      const question_id = this.$route.params.question_id;
      const question = this.$store.state.questions[question_id];
      if (question.user.id !== this.$store.state.user.id) {
        return;
      }

      this.$store.commit("handleAccepted", {
        question_id: question_id,
        answer_id: this.answer.id,
        accepted: accepted,
      });
      const headers = {
        Authorization: this.$store.state.user.id,
        "Content-Type": "application/json",
      };
      await fetch(
        `/api/v1/questions/${question_id}/answers/${this.answer.id}`,
        {
          method: "PATCH",
          headers: headers,
          body: JSON.stringify({ accepted: accepted }),
        }
      );
    },
    async resolve() {
      await this.markResolved(!this.answer.accepted);
    },
  },
  computed: {
    canMarkAsResolved() {
      const question_id = this.$route.params.question_id;
      const author_id = this.$store.state.user.id;
      const question = this.$store.state.questions[question_id];
      const found = question.answers.find((a) => a.accepted === true);
      return question.user.id === author_id && !found;
    },
  },
};
</script>


