<template>
  <div>
    <div>
      <div class="has-text-centered">
        <img alt="Vue logo" src="../assets/logo.png" width="200" />
      </div>
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="is-flex is-justify-content-space-between">
            <p class="is-size-3">
              Questions from {{ user.name }}
              <img class="ml-1" width="24" :src="avatarUrl" alt="" />
            </p>
          </div>
          <div v-for="question in user_questions" :key="question.id">
            <question :question="question"></question>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Question from "./Question.vue";
export default {
  name: "Frontpage",
  components: { question: Question },
  methods: {
    async fetchQuestions() {
      const user_id = this.$route.params.user_id;
      const response = await fetch(`/api/v1/users/${user_id}/questions`, {
        headers: {
          authorization: this.$store.state.user.id,
        },
      });
      const js = await response.json();
      this.user_questions = js;

      const resp = await fetch(`/api/v1/users/${user_id}`, {
        headers: { authorization: this.$store.state.user.id },
      });
      const user = await resp.json();
      this.user = user;
    },

    askQuestion() {
      this.$router.push("/ask");
    },
  },
  data() {
    return { user_questions: [], user: { name: "", id: 0 } };
  },
  computed: {
    avatarUrl() {
      if (this.user.id === 0) {
        return "";
      }
      const idx = (this.user.id || 0) % 5;
      return `/avatar-${idx}.png`;
    },
  },
  async created() {
    await this.fetchQuestions();
  },
};
</script>
