<template>
  <svg
    :class="{
      'svg-icon': true,
      'vote-orange': resource.vote === orientation,
      'vote-gray': resource.vote !== orientation,
    }"
    width="36"
    height="36"
    viewBox="0 0 36 36"
    @click="vote"
  >
    {{ resource.vote }}
    <path v-if="orientation === 1" d="M2 26h32L18 10 2 26Z"></path>
    <path v-else d="M2 10h32L18 26 2 10Z"></path>
  </svg>
</template>

<script>
export default {
  name: "QuestionAnswerPage",
  props: ["answer", "question", "orientation"],
  methods: {
    async vote() {
      if (this.orientation === this.resource.vote) {
        await this.request(0);
      } else {
        await this.request(this.orientation);
      }
    },
    async request(direction) {
      const headers = {
        Authorization: this.$store.state.user.id,
        "Content-Type": "application/json",
      };
      if (direction === 0) {
        await fetch(`${this.relevantUrl}/votes/@me`, {
          method: "DELETE",
          headers: headers,
        });
        return;
      }
      await fetch(`${this.relevantUrl}/votes`, {
        method: "POST",
        headers: headers,
        body: JSON.stringify({ direction: direction }),
      });
    },
  },
  computed: {
    resource() {
      if (this.answer === null) {
        return this.question;
      }
      return this.answer;
    },
    relevantUrl() {
      let url = `/api/v1/questions/${this.question.id}`;
      if (this.answer !== null) {
        url += `/answers/${this.answer.id}`;
      }
      return url;
    },
  },
};
</script>

<style>
.svg-icon {
  vertical-align: bottom;
  cursor: pointer;
}

.vote-aside {
  min-height: 50px;
  padding-right: 16px;
}

.vote-orange {
  fill: #f48225;
}

.vote-gray {
  fill: #696f75;
}

.accepted-green {
  fill: #62b47d;
}
</style>
